[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kseniakru
[access "refs/for/refs/*"]
	read = group user/kseniakru
	push = group user/kseniakru
	label-Code-Review = -2..+2 group user/kseniakru
	label-Verified = -1..+1 group user/kseniakru
	rebase = group user/kseniakru
	removeReviewer = group user/kseniakru
	submit = group user/kseniakru
[access "refs/heads/*"]
	read = group user/kseniakru
	create = group user/kseniakru
	push = +force group user/kseniakru
	pushMerge = group user/kseniakru
[access "refs/tags/*"]
	push = group user/kseniakru
	push = +force group user/kseniakru
